.bg-graph {
    background-color: #2A2A2A;
}

.bg-graph div table tbody tr td {
    /*color: #B3B3B3 !important ;*/
    color: #000 !important ;
    font-family: Trebuchet, Arial, sans-serif !important;
    font-weight: normal !important;
}

.bg-graph div .oneyaxis {
    color: #000 !important ;
    /*font-family: Trebuchet, Arial, sans-serif !important;
    font-weight: normal !important;*/
}

.bg-graph div {
    /*color: #fff !important ;*/
    font-family: Trebuchet, Arial, sans-serif !important;
    font-weight: normal !important;
}

.flot-x-axis div {
    color: #000 !important ;
}

.header_graph {
    color: #000 !important ;
}

.y_graph {
    color: #000 !important ;
}

.x_graph {
    color: #000 !important ;
}